{% extends 'layout.twig' %}
{% block body %}
    <div class="title"> 
        <h1>{{title}}</h1>
        <img src="../images/bird.png" alt="oiseau mort" width="2%" height="2%"> 
    </div>
    <ul>
        <li class="card">
            <form action="" method="" id="updateMsg">
                <div>
                    <textarea name="message" class="form-control" placeholder="à modifier">{{ tweet.tweet }}</textarea>
                </div>
                <div>
                    <input type="submit" value="Modifier" class="btn btn-primary">
                </div>
            </form>
        </li>
    </ul>

{% endblock %}